.reactOrgChart {
  margin: 2px;
}

.reactOrgChart .orgNodeChildGroup .node {
  border: solid 1px #000000;
  display: inline-block;
  padding: 4px;
  width: 100px;
}

.reactOrgChart .orgNodeChildGroup .nodeCell {
  text-align: center;
}

.reactOrgChart .orgNodeChildGroup .nodeGroupCell {
  vertical-align: top;
}

.reactOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  height: 25px;
  width: 50%;
  border-right: 2px solid #000;
}

.reactOrgChart .nodeLineBorderTop {
  border-top: solid 2px #000;
}

.reactOrgChart table {
  border: none;
  margin: 0 auto;
}

.reactOrgChart td {
  padding: 0;
  border: none;
}

.reactOrgChart table.nodeLineTable {
  width: 100%;
}

.reactOrgChart table td.nodeCell {
  width: 50%;
}

.hidden {
  opacity: 0;
  transition: opacity 2.5s, height 0 1.5s;
  height: 0;
}

.treeNode {
  background-color: #fff;
  border: solid 2px #e6e8e908;
  border-radius: 3px;
  padding: 5px;
  width: 150px;
  display: inline-block;
  box-shadow: 0px -1px 4px 2px #ece5e5;
  opacity: 1;
  transition: opacity 2.5s, height 0;
}

#treeOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  border-right: solid 2px #e6e8e9bf;
}

#treeOrgChart .nodeLineBorderTop {
  border-top: solid 2px #e6e8e9bf;
}
